registry=http://119.3.123.58:8081/repository/npm-group/
scope=df_scope
email=deployer@example.com
always-auth=true
_auth="ZGVwbG95OmRvbmdmYW5nQG5wbQ=="
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl=http://cnpmjs.org/downloads