.demo-select .df-select {
  width: 120px;
}

.demo-select .demo-pend {
  color: #909399;
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 100%;
}

.demo-select .demonstration {
  display: block;
  color: #8492a6;
  font-size: 14px;
  margin: 10px 0;
}
